* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: $font-stack;
  line-height: 1.5;
  color: $gray10;
  background: $white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
}
