.home-intro-section {
  background-color: $primary-color;
  padding: 300px 0px 300px 0px;
  margin-bottom: 117px;
  @include center-flex;
  position: relative;
  background-image: url("/assets/images/backgrounds/home.png");
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.4);

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }
  // aspect-ratio: 16/9;
  .intro-text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    h1 {
      @include font-title-1-bold;
      text-align: center;
      color: $white;
      margin-top: 48px;
    }
    p {
      margin-top: 26px;
      text-align: center;
      @include font-body-1-reading---regular;
      color: $gray3;
    }
  }

  @include breakpoint(tablet) {
    // padding: 80px 0px 60px 0px;
    padding: 200px 0px 185px 0px;
    margin-bottom: 60px;

    .intro-text {
      h1 {
        @include font-title-3-bold;
      }
      p {
        @include font-body-2-reading---regular;
      }
    }
  }

  @include breakpoint(mobile) {
    // padding: 80px 0px 48px 0px;

    padding: 200px 0px 185px 0px;
    margin-bottom: 40px;
  }
}

.home-research-area-section {
  margin-bottom: 129px;
  h2 {
    margin-bottom: 40px;
  }
  .flex-container {
    display: flex;
    gap: 20px;

    .flex1 {
      flex: 1;

      .card-container {
        height: 223px;
        padding: 33px 23px;
        @include font-title-3-bold;
        color: $white;
        border-radius: 12px;
      }

      .ml {
        background-image: url("/assets/images/backgrounds/machine-learning-background.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }

      .bio {
        background-image: url("/assets/images/backgrounds/bio-informatics-background.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
      .about {
        background-color: $gray2;
        h3 {
          color: $gray9;
          @include font-title-2-bold;
          margin-bottom: 12px;
        }
        p {
          color: $gray6;
          @include font-heading-2-regular;
        }
      }
    }
  }

  @include breakpoint(tablet) {
    margin-bottom: 80px;
  }

  @include breakpoint(mobile) {
    margin-bottom: 60px;

    h2 {
      margin-bottom: 24px;
    }
  }
}

.home-research-section {
  margin-bottom: 120px;

  h2 {
    margin-bottom: 44px;
  }

  .research-slider {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    margin-bottom: 40px;

    @include breakpoint(desktop-small) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include breakpoint(tablet) {
      grid-template-columns: repeat(2, 1fr);
      gap: 16px;
    }

    @include breakpoint(mobile) {
      grid-template-columns: 1fr;
      gap: 20px;
    }
  }

  .research-card {
    cursor: pointer;
    background: $white;
    overflow: hidden;
    transition: transform 0.3s ease;
    text-decoration: none;

    &:hover {
      transform: translateY(-5px);
    }

    .image-container {
      width: 100%;
      aspect-ratio: 4/3;
      overflow: hidden;
      border-radius: 12px;
      margin-bottom: 16px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
      transition: box-shadow 0.3s ease;
      position: relative;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 12px;
        object-position: center;
        border: 1px solid $gray3;
      }

      &:hover {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.12);
      }

      @include breakpoint(mobile) {
        aspect-ratio: 16/9;
      }
    }

    .research-info {
      h3 {
        @include font-title-3-medium;
        margin-bottom: 4px;
        color: $gray10;

        @include breakpoint(mobile) {
          font-size: 20px;
        }
      }

      .content {
        display: -webkit-box;
        -webkit-line-clamp: 2; /* 최대 두 줄로 제한 */
        -webkit-box-orient: vertical;
        @include font-body-1-reading---medium;
        color: $gray6;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .date {
        @include font-body-1-reading---medium;
        color: $gray5;
      }
    }

    .research-thumbnail-placeholder {
      width: 100%;
      aspect-ratio: 4/3;
      background-color: $gray1;
      border-radius: 12px;
      margin-bottom: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px;

      h3 {
        @include font-title-3-medium;
        color: $gray8;
        text-align: center;
        word-break: break-word;
      }
    }
  }

  .button-wrapper {
    text-align: center;
  }

  .show-more-button {
    @include border-button($gray10);
    display: inline-block;
  }
}

.home-recruit-section {
  margin-bottom: 130px;
  width: 100%;
  overflow: hidden;

  .container {
    max-width: 1200px;
    box-sizing: border-box;
    padding: 0 $spacing;
    margin: 0 auto;
    @include breakpoint(desktop-small) {
      max-width: calc(100% - #{$spacing * 2});
    }
  }

  .recruit-container {
    background-image: url("/assets/images/banners/recruit-background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    border-radius: 24px;
    justify-content: space-between;
    align-items: flex-end;
    padding: 55px;
    width: 100%;
    box-sizing: border-box;
  }

  .recruit-content {
    h2 {
      @include font-title-2-bold;
      color: $white;
    }

    p {
      @include font-body-1-reading---regular;
      color: rgba(255, 255, 255, 0.7);
    }

    .contact-button {
      @include border-button($white);
    }
  }

  @include breakpoint(desktop-small) {
    .recruit-container {
      // padding: 32px 24px;
      // flex-direction: column;
      gap: 24px;
      // text-align: center;
      // justify-content: center;
    }

    .recruit-content {
      h2 {
        font-size: 24px;
        margin-bottom: 12px;
      }

      p {
        font-size: 14px;
      }
    }
  }

  @include breakpoint(tablet) {
    margin-bottom: 80px;
    .recruit-container {
      padding: 32px 24px;
    }
    .recruit-content {
      h2 {
        @include font-title-3-bold;
        color: $white;
      }

      p {
        @include font-body-2-reading---regular;
      }
    }
  }

  @include breakpoint(mobile) {
    margin-bottom: 60px;
  }
}
