<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }}</title>
    <!-- Pretendard CDN -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css"
    />
    <!-- Main CSS -->
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
  </head>
  <body>
    {% include header.html %}
    <!-- 헤더 포함 -->
    <main>
      {{ content }}
      <!-- 페이지별 내용 -->
    </main>
    {% include footer.html %}
    <!-- 푸터 포함 -->
    <!-- <script src="{{ '/assets/js/main.js' | relative_url }}"></script> -->
    <script src="{{ '/assets/js/navigation.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/pagination.js' | relative_url }}"></script>
  </body>
</html>
