<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="{{ page.description | default: site.description }}"
    />
    <meta name="author" content="2020112553 김민섭(biyotteu)" />
    <meta name="designer" content="유정은" />

    <title>{{ page.title }}</title>
    <!-- Pretendard CDN -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css"
    />
    <!-- Main CSS -->
    <link
      rel="stylesheet"
      href="{{ '/~gangman/assets/css/main.css' | relative_url }}"
    /><!--로컬에서 테스트 시에는 /~gangman빼기-->
  </head>
  <body>
    {% include header.html %}
    <!-- 헤더 포함 -->
    <main>
      {{ content }}
      <!-- 페이지별 내용 -->
    </main>
    {% include footer.html %}
    <!-- 푸터 포함 -->
    <!-- <script src="{{ '/~gangman/assets/js/main.js' | relative_url }}"></script> -->
    <script src="{{ '/~gangman/assets/js/navigation.js' | relative_url }}"></script>
    <script src="{{ '/~gangman/assets/js/pagination.js' | relative_url }}"></script>
    <!--로컬에서 테스트 시에는 /~gangman빼기-->
  </body>
</html>
